/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/

/* Posts and pages */

.sticky {
	display: block;
}

.hentry {
	margin: 0 0 $base__space-unit;
}

.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: $base__space-unit 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 $base__space-unit;
}

.tags, .categories, .author-list{
	display: flex;
	flex-wrap: wrap;
	li{
		margin-right: 1rem;
		margin-bottom: .5rem;
	}
}

.borderBottom{
	border-bottom: $the__dashed_border;
} 