/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button:not(.search-submit),
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="text"],
input[type="search"],
textarea {
	background-color: $color__background-body;
	border: 2px solid $brand__green;
	border-radius: 3px;
	color: $brand__green;
	font-size: 1rem;
	font-weight: bold;
	line-height: 1;
	padding: ($base__space-unit / 2) ($base__space-unit * 1.5);

	&:hover,
	&:active,
	&:focus{
		outline-color: $color__background-body;
		border-color: $color__link-hover;
		color: $color__link-hover;
	}
}
.search-submit{
	color: $brand__green;
	background: transparent;
	border: none;
}
/* Fields */

input[type="email"],
input[type="url"],
input[type="password"]{
	border: none;
	border-radius: 3px;

	&:focus {
		outline-color: none;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}

.quote-generator-btn{
	display: block;
	@include screen(large) {
		margin: 0 auto;
	}
}

.wordpress-ajax-form{
	display: flex;
	flex-flow: column nowrap;
	@include screen(large){
		margin: 0 auto;
		width: 70%;
	}
	
	label{
		margin-bottom: .2rem;
	}
	input:not(#quote-submit){
		margin-bottom: 2rem;
		width: 60%;
	}
	button{
		width: 30%;
	}
	#quote-submit{
		padding-bottom: 5rem;
		margin-bottom: 2rem;
	}
	#submitQuote{
		padding: 10px 0px;
	}
}